.container {
    background-color: darkcyan;
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
    
  }
  .jumbotron h1{
    background-color: darkcyan;
    color: azure;
    text-align: center;
    font-family: sans-serif;
}